<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/description.css">
    <script src="https://kit.fontawesome.com/cba7fd6ad8.js" crossorigin="anonymous"></script>
    <title>PET DESCRIPTION</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="fa-solid fa-paw"></i>
                    <a href="#" class="button">pet description</a>
                </li>
                <li>
                    <i class="fa-solid fa-droplet"></i>
                    <a href="#" class="button">allergies</a>
                </li>
                <li>
                    <i class="fa-solid fa-syringe"></i>
                    <a href="#" class="button">vaccinations</a>
                </li>
                <li>
                    <i class="fa-solid fa-bug"></i>
                    <a href="#" class="button">dewormings</a>
                </li>
                <li>
                    <i class="fa-solid fa-pen-to-square"></i>
                    <a href="#" class="button">edit profile</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search...">
                    </form>
                </div>
            </header>
            <section class="description">
                <div id="info">
                    <img src="../img/uploads/dog_img.jpg">
                    <div>
                        <h2>Name: Milan</h2>
                        <p>Breed: Hungarian vizsla</p>
                        <p>Owner name: Emilia Czaja</p>
                        <p>Owner phone no.: 600 700 800</p>
                    </div>
                </div>
            </section>
        </main>
        
    </div>
</body>