section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vaccinations>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


    font: normal normal normal 0.5em Arial;
    font-size: 1em;
    color: #1919A5B3;

    background: #C1C1E1B3 0% 0% no-repeat padding-box;
    border-radius: 1em;
    opacity: 1;
    height: 14em;
    width: 100%;
    margin: 0.5em;
}

section.allergies, .edit {
    align-items: flex-start;
    text-align: left;
    font: normal normal normal 0.5em Arial;
    font-size: 2em;
    color: #1919A5B3;
    padding: 0.5em;
    margin: 0.5em;
}